<body>
  <p>Greetings {{user.first_name}},</p>
  <p>
    The AlgoVista Team would like to give you warm welcomes. Your journey to
    mastering Data Structures and Algorithms is just a click away.
  </p>
  <p>
    Please take a second to confirm your account. Click
    <a href="{{url_for('auth.confirm', token=token, _external=True)}}">here</a>
    to confirm your account.
    <br />
    <br />
    You can also copy and paste the following link into your browser of choice.
    <br />
    {{url_for('auth.confirm', token=token, _external=True)}}
  </p>
  <p>
    Sincerely, <br />
    <i>The AlgoVista Team</i>
  </p>
</body>
